@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

@{
    Layout = null;
}

@model User
<div class="container ">
    <div>
        <form action="~/User/Login" method="post">
            <div class="w-25 mx-auto mt-5">
                <h2>Login</h2>
                <div>
                    <input type="text" asp-for="UserName" placeholder="İstifadəci adınızı daxil edin" class="form-control mb-3">
                </div>
                <div>
                    <input type="password" asp-for="UserPassword" placeholder="sifrenizi daxil edin" class="form-control mb-3">
                </div>
                <button class="btn btn-success">Login</button>
            </div>
        </form>
    </div>
</div>

